.nav{
    height: 9%;
    justify-content: right;
    align-items: center;
}
.navcontent{
    border:0;
    padding: 0;
    margin: 0;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li.nav{
    float: left;
    
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
  }
  
li.nav a:hover {
    background: #0c635d;
}
li.nav a:active {
    background-color: #111111;
}