.sidebar{
    
    font-weight: 600;
    background: #4df49e;
    justify-content: center;
    align-items: center;
    
}

.sidecontent{
    border:0;
    padding: 2rem;
    margin: 0;
    padding-top: 0;
}

ul.side{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.2rem;
}

li.side{
    margin-top: 2rem;
}
a.side {
    color: black;
    box-shadow: 0 1px 0 #000;
    display: block;    
    text-align: center;
    padding: 1.5rem;
    text-decoration:none;
    cursor:pointer
  }
  
a.side:hover {
    color:white;
   
}
a.side:active {
    color: #000000;
 
}