body{
    background-color: #1f2833;
    color: aliceblue;
    font-family:"Exo"
}

html, body {
    height: 100%;
}   

label{
    padding-left: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
}

.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    height: 9%;
    justify-content: right;
    align-items: center;
}
.navcontent{
    border:0;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    float: left;
    
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
  }
  
li a:hover {
    background: #0c635d;
}
li a:active {
    background-color: #111111;
}

i{
    font-size: 2rem;
    color: #66fcf1;
}
  



.form-control{
    border-radius:2rem;
}

.submitbtn{
    background: #66fcf1;
    
    margin-left: 70%;
    margin-top: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .7rem;
    padding-right: .7rem;
    border-radius:.9rem;
    outline:none; border-style: none; 
}

.submitbtn:hover, .submitbtn:active, .submitbtn:focus { outline: none; border-style: none; }

.submitbtn:hover{
    background: #0c635d;
}
.submitbtn:active{
    color:white;
    background: #111111;
}